@{
    ViewData["Title"] = "Home Page";
}
<head>


</head>
<body class="background">
    <div class="text-center">
        <h1 class="display-2">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="flex-container">
        <div>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum consequat nisl vel pretium lectus quam id leo in. Mauris in aliquam sem fringilla. Mattis nunc sed blandit libero volutpat sed cras ornare arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum consequat nisl vel pretium lectus quam id leo in. Mauris in aliquam sem fringilla. Mattis nunc sed blandit libero volutpat sed cras ornare arcu. Tincidunt vitae semper quis lectus. Dolor sit amet consectetur adipiscing elit duis tristique sollicitudin. Cras sed felis eget velit aliquet sagittis id consectetur purus. Libero volutpat sed cras ornare. Elit ullamcorper dignissim cras tincidunt lobortis. Parturient montes nascetur ridiculus mus.      Mauris in aliquam sem fringilla ut morbi tincidunt augue. Platea dictumst quisque sagittis purus sit amet. Nisi porta lorem mollis aliquam ut. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Odio aenean sed adipiscing diam. Sit amet nulla facilisi morbi tempus iaculis urna id volutpat. Placerat orci nulla pellentesque dignissim enim sit amet. Vel fringilla est ullamcorper eget nulla facil</div>
    </div>





</body>