@{
    ViewData["Title"] = "Home Page";
}
<head>


</head>
<body class="background">
    <div class="text-center">
        <h1 class="display-2">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <!--A gif will apear before the home page shows-->
    <div id="preloader"></div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div id="root">
        <div id="gameContainer" class="prototype">
            <div id="sideNavigation">
                <ul id="rightNavigationContainer">
                    <li class="rightNavigationItem"></li>
                    <li class="rightNavigationItem"></li>
                    <li class="rightNavigationItem"></li>
                    <li class="rightNavigationItem"></li>
                    <li class="rightNavigationItem"></li>
                </ul>
                <div class="verticalLine top"></div>
                <div class="verticalLine bottom"></div>
                <div class="shapeContainer"></div>
                <div class="squareContainer"></div>
                <div class="cssSVG"></div>
                <span class="imgSVG">
                    <svg class="square">

                    </svg>
                </span>

                <!--1-->
                <section id="trailer" class="gameSection">
                </section>
                <!--2-->
                <section id="download" class="gameSection">
                    <ul>
                        <li class="itchio badge">..</li>
                    </ul>
                    <a href="https://itunes.apple.com/us/app/monument-valley-2/id1187265767?ls=1&mt=8" target="_blank">
                        <img src="~/img/itchio_button.svg" width="240" height="60" class="center" />
                    </a>
                </section>

                <!--3 https://kenwheeler.github.io/slick/ -->
                <section id="gameIMGCarousel" class="gameSection">
                    <div id="carouselContainer" class="carousel-slick-arrows"></div>
                    <button class="slick-Arrow" type="button">
                    
                </section>
                <!--4-->
                <section id="socialProof" class="gameSection">
                    <div id="innerContainer">
                        <div id="quotesGameContainer">
                            <img id="gameBackground" src="" />
                        </div>
                        <!--People's quote about the game-->
                        <div id="quotes">
                            <div>
                                <div class="text-Container"></div>
                                <span class="quoteUser">This game is one of a kind</span>
                            </div>
                        </div>
                        <div id="quotes">
                            <div>
                                <div class="text-Container"></div>
                                <span class="quoteUser">This game is crazy sick</span>
                            </div>
                        </div>
                        <div id="quotes">
                            <div>
                                <div class="text-Container"></div>
                                <span class="quoteUser">The graphics are outstanding</span>
                            </div>
                        </div>
                        <div id="quotes">
                            <div>
                                <div class="text-Container"></div>
                                <span class="quoteUser">Cool game</span>
                            </div>
                        </div>
                        <div id="quotes">
                            <div>
                                <div class="text-Container"></div>
                                <span class="quoteUser">We get it</span>
                            </div>
                        </div>
                        <div id="quotes">
                            <div>
                                <div class="text-Container"></div>
                                <span class="quoteUser">This has potential.</span>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Social Media section-->
                <section id="socialMedia" class="gameSection">
                    <ul>
                        <!--Facebook Image w/ link-->
                        <li class="socialFacebook"></li>
                        <a href="https://www.facebook.com/profile.php?id=100072568535830" target="_blank">
                            <img class="media-Icon" src="~/img/facebook-transparent-background-1.jpg" />                          
                        </a>
                        <!--Twitter Image w/ link-->
                        <li class="socialTwitter"></li>
                        <a href="https://twitter.com/Prototype0725" target="_blank">
                            <img class="media-Icon" src="~/img/twitter-bird-transparent-background-15.jpg" />                           
                        </a>
                        <!--IG Image w/ link-->
                        <li class="socialInstragram"></li>
                        <a href="https://www.instagram.com/prototype0725/" target="_blank">
                            <img class="media-Icon" src="~/img/instagram-transparent-image-1.jpg" alt="Instragram" />
                        </a>
                        <!--Discord Image w/ invite link to server-->
                        <li class="socialDiscord"></li>
                        <a href="https://discord.gg/yYTEJRNf" target="_blank">
                            <img class="media-Icon" src="~/img/clipart2847989.png" alt="Discord" /> 

                        </a>
                    </ul>
                </section>

                <section id="footer" class="gameSection">
                    <div id="footerContainer">
                        <div id="footerLogo">
                            <a href=""></a>
                        </div>
                    </div>
                    <p id="footerPrivacy">
                        <a href="" target="_blank">Privacy Policy</a>
                    </p>
                </section>
            </div>
        </div>
    </div>

   
    

</body>